<div class="bottom-nav">
    <section class="about-us-nav">
        <ul>
            <li><a>About us</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
        </ul>
    </section>
    <section class="about-us-nav">
        <ul>
            <li><a>For creators</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
        </ul>
    </section>
    <section class="about-us-nav">
        <ul>
            <li><a>For students</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
        </ul>
    </section>
    <section class="about-us-nav">
        <ul>
            <li><a>Languages</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
            <li><a>Option</a></li>
        </ul>
    </section>
</div>
<footer>
    <span>SOCIALS (GITHUM, LINKEDIN)</span>
    <h4>&copy; FLASH.IO 2023</h4>
    <span>SOCIALS (GITHUM, LINKEDIN)</span>
</footer>