<h2>Create deck</h2>
<form>
    <ul>
        <li>
            <label for=name>Name:</label><input type="text" placeholder="name" id="name">
        </li>

        <li>
            <label for="subject">Subject:</label> <input type="text" placeholder="subject" id="subject">
        </li>

        <li>
            <label for="private">Private:</label><input type="checkbox" name="private" id="private">
        </li>
        <li>
            <button name="submit-btn">Create deck</button>
        </li>
    </ul>
</form>