<div class="start-view">
    <app-top-menu></app-top-menu>
    <section class="introduction">
        <div class="title">
            <div class="title-box">
                <span class="title-text">FLASH.IO</span>
                <span class="subtitle-text">CREATE YOUR OWN DECK</span>
            </div>
        </div>
        <div class="info-stats">
            <div class="stats-box">
                <span>23212 FLASHCARDS</span>
                <span>212 DECKS</span>
                <span>232 USERS</span>
                <span>IN TOTAL</span>
            </div>
        </div>
        <div class="quote-text">
            <i>"Flashcards are like tiny ships sailing through the vast ocean of information, carrying the cargo of
                knowledge to our eager minds."</i>
            <h4>~Admiral Wisdom Wordsworth</h4>

        </div>
        <div class="flashcards-symbol">
            <img src="../../assets/flashcards.png">
        </div>
    </section>
</div>

<section class="info-section">
    <div class="first-info">
        <div class="info-box">
            <h2>Lorem Ipsum</h2>
            <p>Curabitur aliquam turpis a porta tincidunt. Donec sed risus consectetur, viverra elit quis, lacinia est.
                Vivamus tincidunt ipsum odio, non ultricies odio ultrices ac. Fusce sollicitudin, nisl eu sodales
                aliquam, nisi lorem auctor mi, in suscipit ligula enim sed ex. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Fusce dapibus fermentum justo, vitae tempus enim
                fringilla ut. Nam eleifend, massa vel posuere convallis, arcu sem suscipit metus, id eleifend lorem
                magna sed ante.</p>
        </div>
    </div>
    <div class="second-info">
        <div class="info-box">
            <h2>Lamida Dana</h2>
            <p>Curabitur aliquam turpis a porta tincidunt. Donec sed risus consectetur, viverra elit quis, lacinia est.
                Vivamus tincidunt ipsum odio, non ultricies odio ultrices ac. Fusce sollicitudin, nisl eu sodales
                aliquam, nisi lorem auctor mi, in suscipit ligula enim sed ex. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Fusce dapibus fermentum justo, vitae tempus enim
                fringilla ut. Nam eleifend, massa vel posuere convallis, arcu sem suscipit metus, id eleifend lorem
                magna sed ante.</p>
        </div>

    </div>
    <div class="third-info">
        <div class="info-box">
            <h2>Olore Psum</h2>
            <p>Curabitur aliquam turpis a porta tincidunt. Donec sed risus consectetur, viverra elit quis, lacinia est.
                Vivamus tincidunt ipsum odio, non ultricies odio ultrices ac. Fusce sollicitudin, nisl eu sodales
                aliquam, nisi lorem auctor mi, in suscipit ligula enim sed ex. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Fusce dapibus fermentum justo, vitae tempus enim
                fringilla ut. Nam eleifend, massa vel posuere convallis, arcu sem suscipit metus, id eleifend lorem
                magna sed ante.</p>
        </div>

    </div>
</section>

<app-footer></app-footer>