<h2>Register</h2>
<form>
    <ul>
        <li>
            <label for="nick">Nick:</label> <input type="text" placeholder="nick" name="nick" id="nick">
        </li>
        <li>
            <label for="email">Email:</label> <input type="email" placeholder="email" name="email" id="email">
        </li>
        <li>
            <label for="pswd">Password:</label><input type="password" placeholder="password" name="pswd" id="pswd">
        </li>
        <li>
            <label for="pswd-repeat">Repeat password:</label><input type="password" name="pswd-repeat"
                placeholder="password" id="pswd-repeat">
        </li>

        <li>
            <label for="newsletter-checkbox">Newsletter: </label>
            <input type="checkbox" id="newsletter-checkbox" name="newsletter-checkbox">
        </li>
        <li>
            <button name="submit-btn">Login</button>
        </li>
    </ul>
</form>